<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <appSettings>
    <add key="LoginInfo" value="ops@thebeastapps.com" />
    <add key="SMTPServer" value="beasttestnu4.vcmpartners.com" />
    <!--<add key="SMTPServer" value="VCMSMTP2" />-->
    <add key="FromEmail" value="ops@thebeastapps.com" />
    <add key="ReplyTo" value="ops@thebeastapps.com" />
    <add key="BCCEMAIL" value="ops@thebeastapps.com" />
    <add key="Openf2Admin" value="ops@thebeastapps.com" />
    <add key="SessionTimeOut" value="360" />
    <add key="volmaxAdmin" value="ops@thebeastapps.com" />
    <add key="EnableEmail" value="1" />
    <add key="ErrorEmail" value="ops@thebeastapps.com" />
    <add key="Server" value="prod" />
    <add key="SystemRunningOn" value="Demo" />
    <add key="InternalEmail" value="ops@thebeastapps.com" />
    <add key="ImportantIds" value="#amittal@thebeastapps.com#vsingh@thebeastapps.com#jsabbagh@thebeastapps.com#spiazza@thebeastapps.com#smittal@thebeastapps.com#jbhatt@thebeastapps.com#" />
    <!-- Web Log -->
    <add key="Webloguserid" value="webloguser" />
    <add key="WeblogPassword" value="Passw0rd#" />
    <add key="WebLogDatabase" value="WEBLOG_DB" />
    <add key="WeblogServer" value="192.168.33.130" />
    <!-- Beast Log -->
    <add key="bfWebloguserid" value="beastuser" />
    <add key="bfWeblogPassword" value="Passw0rd#" />
    <add key="bfWebLogDatabase" value="BEASTLOG_DB" />
    <add key="bfWeblogServer" value="192.168.33.130" />
    <!--Amazon-->
    <add key="aws_SMTPServer" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="aws_UserId" value="AKIAI3L6YZS4V6BVF7JQ" />
    <add key="aws_Password" value="AiXvk+i3LTkPxFdkB2iF181DcpYMbco9RWFSPNQGUnjO" />
    <add key="aws_Port" value="587" />
    <!--Amazon-->
    <!-- Log Utility Start -->
    <add key="SessionVariablesXMLPath" value="~/LogSettings/" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="log4net.Config" value="Web.config" />
    <add key="log4net.Config.Watch" value="True" />
    <!-- Log Utility End -->
    <add key="BeastAppsRedirectUrl" value="http://wwwtest.vcmpartners.com/beastappsdemo/Default.aspx?RefNo=" />
    <add key="ConnectionString" value="SessionServerConnectionString" />
    <add key="RegistrationLink" value="http://demo.thebeastapps.com/Rapidrv/Registration.aspx" />
    <add key="LauncherLink" value="http://wwwtest.vcmpartners.com/Adminpanel/LauncherRedirect.aspx" />

    
    <add key="ExcelAutoDownloadURL" value="http://wwwtest.vcmpartners.com/adminpanel/ExcelPackageDownLoad.aspx" />
    <add key="ExcelPackageAutoURL" value="http://wwwtest.vcmpartners.com/adminpanel/ExcelAutoURL.aspx" />
    <add key="ExcelDownLoadURL" value="http://wwwtest.vcmpartners.com/adminpanel/ExcelVersion/ExcelVersionZip/" />
    <add key="HostURL" value="http://wwwtest.vcmpartners.com/adminpanel/" />

    <add key="NetworkUserName" value="beastadmin@thebeastapps.com" />
    <add key="NetworkPassword" value="B3ast123" />
    
    <add key="ExcelNetworkUserName" value="beastadmin@vcmpartners.com" />
    <add key="ExcelNetworkPassword" value="B3ast123" />
    <add key="ExcelServerIP1" value="192.168.33.216" />
    <add key="ExcelServerIP2" value="192.168.33.216" />
    
    <add key="Aws_Web01_Ip" value="172.30.1.99" />
    <add key="Aws_Web02_Ip" value="172.30.2.99" />
    
    <add key="NetworkUserName_Demo" value="beastadmin@demobeastapps.com" />
    <add key="NetworkPassword_Demo" value="B3ast123" />
    
    <add key="Aws_Demo01_Ip" value="10.75.1.10" />
    <add key="Aws_Demo02_Ip" value="10.75.1.11" />
  
    
  </appSettings>

  <connectionStrings>
    <add name="TradeCaptureConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=Tradecapture;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="SessionServerConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=SessionServer;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="AppStoreConnectionString" connectionString="Data Source=beasttestnu3;Initial Catalog=AppStore;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <!--<add name="TradeCaptureConnectionString" connectionString="Data Source=beastdev1;Initial Catalog=Tradecapture;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="SessionServerConnectionString" connectionString="Data Source=beastdev1;Initial Catalog=SessionServer;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="AppStoreConnectionString" connectionString="Data Source=beastdev1;Initial Catalog=AppStore;Integrated Security=false; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />-->

    

    <!--AuditTrail-->
    <add name="TradeCaptureConnection" connectionString="Data Source=indiadb;Initial Catalog=TradeCapture; Integrated Security = False; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <add name="AutoTestConnection" connectionString="Data Source=indiadb;Initial Catalog=WebLogs; Integrated Security = False; User ID = rradmin; Password = rradmin;" providerName="System.Data.SqlClient" />
    <!--AuditTrail-->
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="999" maxRequestLength="2097151" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <sessionState cookieless="false" timeout="1100" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add name="JSONPModule" type="JsonHttpModule" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <log4net>
    <!-- Define some output appenders -->
    <!--Log4Net Start-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\logs" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10240" />
      <maximumFileSize value="10240 KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="false" />
      <datePattern value="'.'yyyyMMdd'.txt'" />
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %username %exception - %message%newline" />
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="172.30.5.101" />
      <remotePort value="5140" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date %-5level %username %exception - %message%newline" />
      </layout>
    </appender>
    <!--Log4Net End-->
    <root>
      <level value="ALL" />
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
  <dataConfiguration defaultDatabase="TradeCaptureConnectionString" />
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Index.aspx" />
        <add value="Signin.aspx" />
      </files>
    </defaultDocument>

    <httpErrors defaultPath="D:\Inetpub\wwwroot\Redirect\Redirect_URLAdminNew.html">
      <remove statusCode="403" subStatusCode="4" />
      <error statusCode="403" subStatusCode="4" prefixLanguageFilePath="" path="D:\Inetpub\wwwroot\Redirect\Redirect_URLAdminNew.html" responseMode="File" />
    </httpErrors>
    <modules>
      <add name="JSONPModule" type="JsonHttpModule" />
    </modules>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
<system.serviceModel>
<extensions>
<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
<behaviorExtensions>
<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
</behaviorExtensions>
<bindingElementExtensions>
<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
</bindingElementExtensions>
<bindingExtensions>
<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
</bindingExtensions>
</extensions>
</system.serviceModel>
</configuration>